[submodule "crosstools"]
	path = crosstools
	url = https://github.com/OpenNoahEdu/ingenic-jz-crosstools-src.git
[submodule "unpkg"]
	path = unpkg
	url = https://github.com/OpenNoahEdu/unpkg.git
[submodule "qemu-JZ"]
	path = qemu-JZ
	url = https://github.com/OpenNoahEdu/qemu-JZ.git
